.banner{
  background-image: linear-gradient(to right,#635cd0,#3027ae);
  height:90.5vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;

}

.banner >p{
  margin: 300 1.4vmax "Lucida Sans";
}
.banner> h1{
 margin: 5vmax;
 font:600 2.5vmax "Roboto";
}
.banner a{
    
}
.banner >a>button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 5000 1vmax "Roboto";
}
.banner >a>button:hover{
   background-color: rgba(255,255,255 ,0);
   color: white;
}

.banner::after{
    content:"";
    width: 100vw;
    height:90.5vmin;;
    background-color: white;
    position: absolute;
    top: 9.5vmin;
    left: 0%;
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    max-width: 100%;
}


.homeHeading{
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21,21,21,0.5);
    width:20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color:rgb(0,0,0,0.7);
}


#container{
    /* display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    */
    display: flex;
    margin: 2vmax auto;
    width:80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    }